$font-bold: 700;
$font-extra-bold: 800;

@font-face {
  font-family: "Lato";
  font-weight: $font-bold;
  font-style: normal;
  src: url("../../assets/fonts/LatoBold/Lato-Bold.eot")
      format("embedded-opentype"),
    url("../../assets/fonts/LatoBold/Lato-Bold.ttf") format("truetype"),
    url("../../assets/fonts/LatoBold/Lato-Bold.woff") format("woff"),
    url("../../assets/fonts/LatoBold/Lato-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: $font-extra-bold;
  font-style: normal;
  src: url("../../assets/fonts/LatoExtraBold/Lato-Heavy.eot")
      format("embedded-opentype"),
    url("../../assets/fonts/LatoExtraBold/Lato-Heavy.ttf") format("truetype"),
    url("../../assets/fonts/LatoExtraBold/Lato-Heavy.woff") format("woff"),
    url("../../assets/fonts/LatoExtraBold/Lato-Heavy.woff2") format("woff2");
}
